.answerComponent {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  align-items: flex-start;
}

.answerComponent .textContainer {
  margin-bottom: calc(-18px * var(--scale));
  font-weight: 700;
  letter-spacing: 0;
  position: relative;
  z-index: 2;
}

.answerComponent .boxContainer {
  position: relative;
  z-index: 1;
  border: calc(3px * var(--scale)) solid #2f2f2f;
}

.answerComponent .solution {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  font-size: calc(18px * var(--scale));
  padding: 0 0;
  margin: 0 0;
  font-family: 'Pretendard';
  font-style: normal;
}

.answerComponent .solution-main {
  font-weight: 700;
  color: #357929;
}

.answerComponent .solution-sub {
  font-weight: 500;
  color: #272727;
}
