.boxContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 5px solid #000000;
  border-radius: 30px;
  background-color: #fffbe6;
  margin: 0 0;
  padding: 20px;
  width: calc(356px * var(--scale));
  max-width: calc(400px * var(--scale));
  margin: 0 auto;
  box-sizing: border-box;
  /* text-align: center; */
}
