.boxContainer {
  border: 5px solid #000000;
  border-radius: 20px;
  background-color: #fffbe6;
  margin: 0 0;
  padding: 20px;
  width: 356px;
  max-width: 400px;
  margin: 0 auto;
  box-sizing: border-box; /* 패딩과 테두리를 포함한 박스 크기 */
  /* text-align: center; */
}
