.inputBoxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0;
  margin: 0 0;
}

.inputBoxContainer input {
  width: 290px;
  height: 48px;
  padding: 0 0;
  margin: 0 0;
  padding-left: 15px;
  border: 3px solid #2f2f2f;
  border-radius: 30px;
  font-size: 18px;
  background-color: inherit;
  color: #929292;
  outline: none;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.inputBoxContainer input::placeholder {
  color: #929292;
}
