.inputBoxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0;
  margin: 0 0;
}

.inputBoxContainer input {
  width: calc(290px * var(--scale));
  height: calc(48px * var(--scale));
  padding-left: calc(15px * var(--scale));
  margin: 0 0;
  border: calc(3px * var(--scale)) solid #2f2f2f;
  border-radius: calc(30px * var(--scale));
  font-size: calc(18px * var(--scale));
  background-color: inherit;
  color: #929292;
  outline: none;
  font-family: 'Pretendard';
  font-weight: 400;
  font-style: normal;
}

.inputBoxContainer input::placeholder {
  color: #929292;
  font-size: calc(18px * var(--scale));
}
