.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fccd2a;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* 가장 앞에 표시 */
}

.loading-text {
  color: #6ec207;
  font-size: 42px;
  font-weight: bold;
}
