@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&display=swap');

.mainBtnContainer,
.mainBtn {
  font-family: 'Jua', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mainBtnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainBtnsubText {
  background-color: inherit;
  color: #272727;
  padding: 0 0;
  font-size: calc(11px * var(--scale));
  margin-top: calc(5px * var(--scale));
  letter-spacing: calc(0.5px * var(--scale));
}

.mainBtn {
  background-color: #6ec207;
  color: #fffbe6;
  font-size: 28px;
  margin: 0 0;
  padding: 0 0;
  border: calc(3px * var(--scale)) solid #2f2f2f;
  border-radius: calc(30px * var(--scale));
  cursor: pointer;
  text-align: center;
  letter-spacing: calc(1.5px * var(--scale));
}

.mainBtn span {
  text-shadow: -2.2px 0 0 #2f2f2f, 2.2px 0 0 #2f2f2f, 0 -2.2px 0 #2f2f2f, 0 2.2px 0 #2f2f2f, -2.2px -2.2px 0 #2f2f2f,
    2.2px -2.2px 0 #2f2f2f, -2.2px 2.2px 0 #2f2f2f, 2.2px 2.2px 0 #2f2f2f, 0px 0px 5px #2f2f2f;
}

.mainBtn:active {
  transform: translateY(2px);
}
