@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&display=swap');

.mainBtnContainer,
.mainBtn {
  font-family: 'Jua', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mainBtnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainBtnsubText {
  background-color: inherit;
  color: #272727;
  font-size: 11px;
  margin: 0 0;
  padding: 0 0;
  margin-top: 5px;
  letter-spacing: 0.5px;
}

.mainBtn {
  background-color: #6ec207;
  color: #fffbe6;
  font-size: 28px;
  margin: 0 0;
  padding: 0 0;
  border: 3px solid #2f2f2f;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;

  -webkit-text-stroke: 0.2px #2f2f2f;
  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
  letter-spacing: 1.5px;

  width: 204px;
  height: 72px;
}

.mainBtn:active {
  transform: translateY(2px);
}
