.mypageComponent {
  display: flex;
  height: 100vh;
  background-color: #fccd2a;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
}

.mypageComponent-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mypageComponent .underlineBtn {
  margin-bottom: 10px;
}

.mypageComponent .boxContainer {
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mypageComponent .mainBtnContainer {
  margin-top: 15px;
  margin-bottom: 8px;
}

.mypageComponent .mainBtnContainer:last-child {
  margin-top: 15px;
}

.mypageComponent-content .textContainer {
  text-align: center;
  margin-top: 10px;
}

.mypage-textDeco {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0;
  margin: 0 auto 0 auto;
  position: relative;
  top: 15px;
  right: 21px;
}

.mypage-textDeco .mypageImg {
  margin-top: -10px;
}

.mypageComponent .textRed {
  transform: rotate(-10deg);
}
