.numListContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-family: 'Jua', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  text-align: center;
  padding: 0 0;
  margin: 0 0;
}
