.textContainer {
  font-family: 'Jua', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding: 0 0;
  margin: 0 0;
  /* text-shadow: -3.5px 0 0 #2f2f2f, 3.5px 0 0 #2f2f2f, 0 -3.5px 0 #2f2f2f, 0 3.5px 0 #2f2f2f, -3.5px -3.5px 0 #2f2f2f,
    3.5px -3.5px 0 #2f2f2f, -3.5px 3.5px 0 #2f2f2f, 3.5px 3.5px 0 #2f2f2f, 0px 0px 5px #2f2f2f; */
  letter-spacing: 3px;
  /* letter-spacing: calc(1px * var(--scale)); */
}

.textGreen {
  color: #6ec207;
}

.textLightgreen {
  color: #c0eba6;
}

.textYellow {
  color: #fccd2a;
}

.textRed {
  color: #ff4e4e;
}

.textPink {
  color: #ff9eb5;
}
