.textContainer {
  font-family: 'Jua', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding: 0 0;
  margin: 0 0;
  -webkit-text-stroke: calc(3px * var(--scale)) #2f2f2f;
  letter-spacing: calc(1px * var(--scale));
  /* text-shadow: -1px 0 #2f2f2f, 0 1px #2f2f2f, 1px 0 #2f2f2f, 0 -1px #2f2f2f; */
}

.textGreen {
  color: #6ec207;
}

.textLightgreen {
  color: #c0eba6;
}

.textYellow {
  color: #fccd2a;
}

.textRed {
  color: #ff4e4e;
}

.textPink {
  color: #ff9eb5;
}
