@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&display=swap');

.underlineBtnContainer,
.underlineBtn {
  font-family: 'Jua', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.underlineBtnContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0;
  margin: 0 0;
  margin-right: calc(15px * var(--scale));
}

.underlineBtnsubText {
  font-size: calc(11px * var(--scale));
  color: #272727;
  padding: 0 0;
  margin: 0 0;
  margin-bottom: calc(2px * var(--scale));
  letter-spacing: calc(0.5px * var(--scale));
}

.underlineBtn {
  background: none;
  border: none;
  color: #272727;
  font-size: calc(24px * var(--scale));
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: calc(2px * var(--scale));
  letter-spacing: calc(1px * var(--scale));
}

.underlineBtn:active {
  transform: translateY(1px);
}
