.answerPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fccd2a;
  box-sizing: border-box;
}

.answerPage .mainBtnContainer {
  margin-top: 20px;
}

.answerComponent {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  align-items: flex-start;
}

.answerComponent .textContainer {
  margin-bottom: -18px;
  font-weight: 700;
  letter-spacing: 2px;
  position: relative;
  z-index: 2;
}

.answerPage .boxContainer {
  display: flex;
}

.answerComponent .boxContainer {
  position: relative;
  z-index: 1;
  border: 3px solid #2f2f2f;
}

.numListWithArrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

svg {
  display: inline-block;
}

.imgWrapper {
  position: absolute;
  z-index: 10;
  padding: 0;
  margin-top: 10px;
}

.trueImg {
  width: 88px;
  height: 151px;
}

.falseImg {
  width: 108px;
  height: 110px;
}
