.answerPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fccd2a;
  box-sizing: border-box;
}

.answerPage .mainBtnContainer {
  margin-top: 20px;
}

.answerPage .boxContainer {
  display: flex;
}

.numListWithArrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

svg {
  display: inline-block;
}

.imgWrapper {
  position: absolute;
  z-index: 10;
  padding: 0;
  margin-top: 10px;
}

.trueImg {
  width: 88px;
  height: 151px;
}

.falseImg {
  width: 108px;
  height: 110px;
}
