.homePage {
  display: flex;
  height: 100vh; /* 전체 뷰포트 높이를 차지 */
  background-color: #fccd2a;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
}

.homePage-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homePage .boxContainer {
  justify-content: center;
  align-items: center;
}

.homePage .underlineBtn {
  margin-bottom: 10px;
}

.homePage .inputBoxContainer {
  margin-top: 15px;
}

.homePage .mainBtnContainer {
  margin-top: 30px;
}

.homePage .mainImg {
  padding: 0 0;
  margin-top: 30px;
  margin-bottom: 30px;
}
