.homePage {
  display: flex;
  height: 100vh;
  background-color: #fccd2a;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
}

.homePage-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homePage .boxContainer {
  justify-content: center;
  align-items: center;
}

.homePage .underlineBtn {
  margin-bottom: 10px;
}

.homePage .mainBtnContainer {
  margin-top: 30px;
}

.imgComponent {
  padding: 0 0;
  margin: 0 0;
  width: 198px;
  height: auto;
  padding: 0;
  margin: 0;
}
