.LoggedTypePage {
  display: flex;
  height: 100vh;
  background-color: #fccd2a;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.LoggedTypePage-content {
  align-items: center;
}

.LoggedTypePage .underlineBtn {
  margin-bottom: 10px;
}

.LoggedTypePage .typeImg {
  margin-top: 10px;
  margin-bottom: 10px;
}

.LoggedTypePage .mainBtnContainer {
  margin-top: 35px;
  margin-bottom: 8px;
}

.LoggedTypePage .mainBtnContainer:last-child {
  margin-top: 15px;
}

.LoggedTypePage .textContainer {
  text-align: center;
  margin-top: 10px;
}

.LoggedTypePage-textDeco {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0;
  margin: 0 auto 0 auto;
  position: relative;
  top: 15px;
  right: 21px;
}

.LoggedTypePage-textDeco .textDecoImg {
  margin-top: -10px;
}

.LoggedTypePage-textDeco .textRed {
  transform: rotate(-10deg);
}
