.loginPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: #fccd2a;
}

.backBtn-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 100%;
  padding-left: 20px;
  margin-bottom: 25px;
}

.loginPage .boxContainer {
  justify-content: center;
  align-items: center;
}

.loginPage .inputBoxContainer {
  margin-top: 15px;
}

.loginPage .mainBtnContainer {
  margin-top: 20px;
}

.loginPage .mainImg {
  padding: 0 0;
  margin-top: 20px;
}
