.signupPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 전체 뷰포트 높이를 차지 */
  background-color: #fccd2a;
  box-sizing: border-box;
}

.signupPage .inputBoxContainer {
  margin-top: 15px;
}

.signupPage .mainBtnContainer {
  margin-top: 20px;
}

.signupPage .mainImg {
  padding: 0 0;
  margin-top: 40px;
  margin-bottom: 5px;
}

/* @media (max-width: 768px) {
  // 화면이 작을 때 (모바일) 적용되는 스타일
  .signupPage {
    padding: 15px;
  }

  .signupPage .boxContainer {
    padding: 20px;
  }

  .signupPage input {
    font-size: 14px;
  }

  .signupPage .mainImg {
    width: 120px;
  }
} */
