.signupPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh; /* 전체 뷰포트 높이를 차지 */
  background-color: #fccd2a;
}

.backBtn-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 100%;
  padding-left: 20px;
  margin-bottom: 25px;
}

/* .signupPage-content {
  align-items: center;
  text-align: center;
} */

.signupPage .boxContainer {
  justify-content: center;
  align-items: center;
}

.signupPage .inputBoxContainer {
  margin-top: 15px;
}

.signupPage .mainBtnContainer {
  margin-top: 20px;
}

.signupPage .mainImg {
  padding: 0 0;
  margin-top: 20px;
}

/* @media (max-width: 768px) {
  // 화면이 작을 때 (모바일) 적용되는 스타일
  .signupPage {
    padding: 15px;
  }

  .signupPage .boxContainer {
    padding: 20px;
  }

  .signupPage input {
    font-size: 14px;
  }

  .signupPage .mainImg {
    width: 120px;
  }
} */
