.voicetalkPage {
  display: flex;
  height: 100vh;
  background-color: #1e1e1e;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0;
  padding: 20px;
}

.voicetalkPage .textDisplay {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  overflow: hidden; /* 4줄 이상의 텍스트는 위로 스크롤 */
  position: relative;
  padding-right: 25%;
}

.voicetalkPage .textDisplay p {
  font-family: 'Pretendard';
  font-weight: bold;
  font-style: normal;
  padding: 0 0;
  margin: 5px 0;
  font-size: 28px;
  color: #727272;
  text-align: center;
  transition: transform 0.5s ease-in-out;
}

.voicetalkPage .textDisplay p:nth-last-child(4) {
  color: #a4a4a4;
  font-weight: bolder;
}

.voicetalkPage .textDisplay p:nth-last-child(3) {
  color: #ffffff;
  font-size: 36px;
  font-weight: bolder;
}

.voicetalkPage .nowSpeak {
  color: #ffffff;
  font-size: 36px;
  font-weight: bolder;
  position: relative;
}

.voicetalkPage .nowSpeak.speaking::before {
  content: '●';
  color: #ffffff;
  margin-right: 10px;
}

.voiceLineImg {
  width: 100%;
  max-width: 1123px;
  margin: 20px 0;
}

.voicetalkPage .MainVoiceBtn {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.voicetalkPage .underlineVoiceBtnContainer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.voicetalkPage .underlineVoiceBtnContainer p {
  color: #fff;
  margin: 10px 0 0 0; /* "또는" 텍스트의 여백 조정 */
  text-align: center;
}
