.wordPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh; /* 전체 뷰포트 높이를 차지 */
  background-color: #fccd2a;
  box-sizing: border-box;
}

.backBtn-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 100%;
  padding-left: 20px;
  margin-bottom: 25px;
}

.wordPage .boxContainer {
  align-items: flex-start;
}

.wordPage .inputBoxContainer {
  margin-top: 15px;
}

.wordPage .mainBtnContainer {
  margin-top: 20px;
}

.yearSelectionRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-top: 15px;
}

.yearSelectionRow .selectBtnContainer {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
