.wordlistPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: #fccd2a;
  box-sizing: border-box;
}

.wordlistPage .boxContainer {
  display: flex;
  flex-direction: row;
}

.wordlist-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  border-collapse: collapse;
}

.wordlistTitle {
  display: flex;
  gap: calc(40px * var(--scale));
  justify-content: flex-start;
  margin-bottom: calc(17px * var(--scale));
  padding-left: calc(10px * var(--scale));
}

.wordlistContent {
  display: flex;
  padding-bottom: calc(5px * var(--scale));
  border-bottom: 1px solid #272727;
}

.lists {
  font-size: calc(16px * var(--scale));
  padding: 0 0;
  margin: 0 0;
  font-family: 'Pretendard';
  font-weight: 400;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  line-height: 1;
  /* max-width: 321px; */
  /* width: calc(321px * var(--scale)); */
}

/* 첫 번째 리스트(단어)와 두 번째 리스트(년도)는 폭을 고정 */
.lists:first-child {
  flex: 1;
  text-align: left;
}

.lists:nth-child(2) {
  width: 80px;
  text-align: center;
}

.lists:last-child {
  flex: 3;
  text-align: left;
}
